server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/store_db?useSSL=false&serverTimezone=Asia/Shanghai&characterEncoding=utf8
    username: root
    password: root

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true

jwt:
  secret: "change-this-secret"
  expire-minutes: 720
